<ion-content padding class="container tutorial">
   <button ion-button icon-left class="skip-login" (click)="goLoginPage()">
        <ion-icon name="skip-forward"></ion-icon>
        Skip
    </button>
    <ion-slides>
        <ion-slide *ngFor="let slide of slides">
            <img [src]="slide.image" style="height: 50%; width: 50%"/>
            <h2 class="slide-title" [innerHTML]="slide.title"></h2>
            <p [innerHTML]="slide.description"></p>
            <div *ngIf="slide.loginbutton">
                <ion-row>
                    <ion-col>
                        <button ion-button full block (click)="goRegisterPage()">Register</button>
                    </ion-col>
                    <ion-col>
                        <button ion-button full block outline class="register"(click)="goLoginPage()">Log In</button>
                    </ion-col>
                </ion-row>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>