<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  		<ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>general</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
		<ion-card-header>
			Today's progress
		</ion-card-header>
		<ion-card-content>
			<div id="chart"></div>
        </ion-card-content>
        <ion-card-content>    
			<button ion-button full (click)="_goTaskCreatePage()"> 
				Add New Task
			</button>
		</ion-card-content>
	</ion-card>

	<ion-list>
		<ion-list-header>
			今日任务
		</ion-list-header>
		<ion-item-sliding *ngFor="let t of _taskList.nceTask">
            <ion-item>
                <ion-row>
                    <ion-col>
                        <a ion-text color="primary">{{t.bookTitle}}</a>
                    </ion-col>
                    <ion-col width-20 *ngIf="t.dailyFinished">
                        <ion-icon name="md-checkmark" class="default"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <h2><div *ngIf="t.dailyFinished">明天: </div>{{t.lessionTitle}}</h2>
                </ion-row>
            </ion-item>
            <ion-item-options>
                <button ion-button large color="danger">
                    <ion-icon name="trash" (click)="_deleteNCETask(t.bookID)"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding *ngFor="let t of _taskList.recitationTask">
            <ion-item>
                <ion-row>
                    <ion-col>
                        <a ion-text color="primary">{{t.vocabularyTitle}}</a>
                    </ion-col>
                    <ion-col width-20 *ngIf="t.dailyFinished">
                        <ion-icon name="md-checkmark" class="default" color="primary"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <h2>进度: {{t.current}} / {{t.goal}}</h2>
                </ion-row>
            </ion-item>
            <ion-item-options>
                <button ion-button large color="danger">
                    <ion-icon name="trash" (click)="_deleteRecitationTask(t.vocabularyID)"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
	</ion-list>
</ion-content>
