<!--
  Generated template for the Favorite page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>收藏夹</ion-title>
	</ion-navbar>
	<ion-toolbar no-border-top>
	    <ion-segment [(ngModel)]="_select">
			<ion-segment-button value="NCE">
				新概念
			</ion-segment-button>
			<ion-segment-button value="word">
				单词
			</ion-segment-button>
	    </ion-segment>
  	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-refresher (ionRefresh)="_synchronize($event)">
		<ion-refresher-content
		  pullingIcon="arrow-dropdown"
		  pullingText="Pull to refresh"
		  refreshingSpinner="circles"
		  refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>

  	<div [ngSwitch]="_select">
  		
	    <ion-list *ngSwitchCase="'NCE'">
	    	<ion-item-sliding *ngFor = "let i of _nceList">
		      	<button ion-item (click)="_goNCEStudyPage(i)">
		        	<h2>{{i.title}}</h2>
		      	</button>
		      	<ion-item-options>
		      		<button ion-button color="danger" (click)="_removeFavorite(i)" class='remove'>
		      			<ion-icon name="close"></ion-icon>
		      			删除
		      		</button>
		      	</ion-item-options>
	      </ion-item-sliding>
	    </ion-list>

	    <ion-list *ngSwitchCase="'word'">
    	    <ion-item-sliding *ngFor = "let i of _wordList">
				<button ion-item (click)="_goWordModal(i)">
					<h2>{{i.name}}</h2>
				</button>
		      	<ion-item-options>
		      		<button ion-button color="danger" (click)="_removeFavorite(i)" class='remove'>
		      			<ion-icon name="close"></ion-icon>
		      			删除
		      		</button>
		      	</ion-item-options>
	      	</ion-item-sliding>
		</ion-list>

	</div>
</ion-content>
