<!--
  Generated template for the NCEStudy page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>NCE-study</ion-title>
    <ion-buttons end>
		<button ion-button icon-only (click)="_presentPopover($event)">
			<ion-icon name="book"></ion-icon>
		</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content #popoverContent padding class="popover-page">
	<div #popoverText class="text-to-change">
    <div align="center">
      <font size="5">
      {{_lession.title}}
      </font>
    </div>
    <p></p>
    <div *ngFor = 'let i of _lession.engText'>
      &nbsp;&nbsp;&nbsp;&nbsp;{{i}}
    </div>
    <p></p>
    <div *ngIf="_showTranslation">
      <div *ngFor = 'let i of _lession.chnText'>
        &nbsp;&nbsp;&nbsp;&nbsp;{{i}}
      </div>
    </div>
  </div>
    <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="_switch()"><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
