<ion-header>
  <ion-navbar>
    <ion-title>RecitationOverallView</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card>
    <img src="assets/img/tawawa.jpg"/>
    <ion-card-content>
      <ion-card-title>
        {{_vocabulary.title}}
      </ion-card-title>
      <p>
        {{_vocabulary.description}}
      </p>
    </ion-card-content>
  </ion-card>

  <p>当前背诵进度:</p>
  <div class="progress-outer" *ngIf = "_vocabulary.isDownloaded">
  	<div class="progress-inner" [style.width]="_vocabulary.progress + '%'">
      	{{_vocabulary.progress}}%
  	</div>
  </div>
  <button ion-button full *ngIf = "_vocabulary.isDownloaded" (click)="_showModal()">Show word list</button>
  <button ion-button full *ngIf = "!_vocabulary.isDownloaded" (click) = "_downloadPress()">Download</button>
  <button ion-button full *ngIf = "_vocabulary.isDownloaded" (click)= "_goRecitationSlidePage()">Strat</button>
</ion-content>
