<ion-header>
  <ion-navbar>
    <ion-title>RecitationOverallView</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <div class="progress-outer">
    	<div class="progress-inner" [style.width]="_vocabulary.progress + '%'">
        	{{_vocabulary.progress}}%
    	</div>
    </div>

	<h2>当前背诵进度: {{_vocabulary.progress}}</h2>

	<button ion-button *ngIf="_vocabulary.progress == 0" (click) = '_goRecitationSlidePage()'>start</button>
	<button ion-button *ngIf="_vocabulary.progress != 0" (click) = '_goRecitationSlidePage()'>resume</button>

</ion-content>
