<!--
  Generated template for the NCEStudy page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>课文</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="_navParams.get('navCtrl').pop()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
  		<button ion-button icon-only (click)="_presentPopover($event)">
  			<ion-icon name="book"></ion-icon>
  		</button>
      <button ion-button icon-only (click)="_removeFavorite()" *ngIf="_favorite">
        <ion-icon name="star"></ion-icon>
      </button>
      <button ion-button icon-only (click)="_addFavorite()" *ngIf="!_favorite">
        <ion-icon name="star-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content #popoverContent padding class="popover-page">
	<div #popoverText class="text-to-change">

    <div style = 'text-align:center'>
      <font size="5">
      {{_lession.title}}
      </font>
    </div>
    <p></p>
    <div *ngFor = 'let i of _lession.engText'>
      &nbsp;&nbsp;&nbsp;&nbsp;{{i}}
    </div>
    <p></p>
    <div *ngIf="_showTranslation">
      <div *ngFor = 'let i of _lession.chnText'>
        &nbsp;&nbsp;&nbsp;&nbsp;{{i}}
      </div>
    </div>
  </div>
</ion-content>
