page-setting {
	.avatar {
      position: relative;
      margin: 0 auto;
      text-align: center;

      img {
        width: 80px;
        height: 80px;
      }
    }
    .outer-content {
    	background: #f2f4f4;
    }
    .space{
    	margin-bottom: 20px;
    }
}
