<!--
  Generated template for the TaskCreate page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar>
		<ion-title>创建任务</ion-title>
	</ion-navbar>
	<ion-toolbar no-border-top>
	    <ion-segment [(ngModel)]="_select">
			<ion-segment-button value="NCE">
				新概念
			</ion-segment-button>
			<ion-segment-button value="word">
				单词
			</ion-segment-button>
	    </ion-segment>
  	</ion-toolbar>
</ion-header>


<ion-content padding>

  	<div [ngSwitch]="_select">
  		<div *ngSwitchCase="'NCE'">
	    <ion-list>
	    	<ion-item>
		    	<ion-label>book</ion-label>
		   		<ion-select [(ngModel)]="_nce.bookSelect" (ionChange)="_changeNCEBook()">
			      <ion-option *ngFor="let i of _nce.book">{{i.title}}</ion-option>
			    </ion-select>
		  	</ion-item>

		  	<ion-item>
		    	<ion-label>start lession</ion-label>
		   		<ion-select [(ngModel)]="_nce.lessionSelect">
		   			<ion-option *ngFor="let i of _nce.lession.title">{{i}}</ion-option>
			    </ion-select>
		  	</ion-item>
	    </ion-list>
	    <button ion-button full (click)="_createNCETask()">CREATE TASK</button>
	    </div>

	    <div *ngSwitchCase="'word'">
		    <ion-list>
				<ion-item>
			    	<ion-label>vocabulary</ion-label>
			   		<ion-select [(ngModel)]="_recitation.vocabularySelect">
				      <ion-option *ngFor="let i of _recitation.vocabulary">{{i.title}}</ion-option>
				    </ion-select>
		  		</ion-item>
				<ion-item>
					<ion-label>单词数: {{_recitation.goalRange}}</ion-label>
					<ion-range min="50" max="200" step="5" pin="true" [(ngModel)]="_recitation.goalRange">
						<ion-icon range-left name="ice-cream" color="primary"></ion-icon>
        				<ion-icon range-right name="nuclear" color="danger"></ion-icon>
					</ion-range>
		  		</ion-item>
			</ion-list>
			<button ion-button full (click)="_createRecitationTask()">CREATE TASK</button>
		</div>

	</div>

</ion-content>
